<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cyber Range Visitor Registration</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="style.css" rel="stylesheet" />
    <!-- Custom Style -->
    <style>

      img.pinglogo { 
        content: url("https://cdn.glitch.global/2e292188-b5db-43cf-8e73-780c808f9bce/pinglogo.png?v=1644326867801");
        padding: 10px; 
      } 
      .logo { 
        content: url("https://cdn.glitch.global/e20c0292-d3af-4f74-beac-c3a5ce232497/hero-cyber-range.png?v=1652381426727");
        max-width:100%; 
        max-height:100%; 
      }

    </style>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    ></script>    
    <script
      type="text/javascript"
      src="https://sdk.singularkey.com/latest/singularkey.js"
    ></script>     
    <script type="text/javascript">           
      
      function loadRegisterWidget() {
        
        var policyId = "{{reg_policy_id}}";

        var props = {
          config: {
            method: "runFlow",
            apiRoot: "https://api.singularkey.com/v1",
            accessToken: "{{access_token}}",
            companyId: "{{company_id}}",
            policyId: policyId
          },
          useModal: false,
          successCallback,
          errorCallback,
          onCloseModal,
        };
        /*** Invoke Singular Key Widget ****/
        console.log(props);
        singularkey.skRenderScreen(
          document.getElementById("skWidgetRegister"),
          props
        );        
        
      }     
      
      function loadSignInWidget() {
        var policyId = "{{auth_policy_id}}";

        var props = {
          config: {
            method: "runFlow",
            apiRoot: "https://api.singularkey.com/v1",
            accessToken: "{{access_token}}",
            companyId: "{{company_id}}",
            policyId: policyId
          },
          useModal: false,
          successCallback,
          errorCallback,
          onCloseModal,
        };
        /*** Invoke Singular Key Widget ****/
        console.log(props);
        singularkey.skRenderScreen(
          document.getElementById("skWidgetSignIn"),
          props
        );          
      }
      
      function successCallback(response) {
        console.log(response);
        if(response.success){
          //console.log("A successful response!");
          //console.log("Response ID Token: " + response.id_token);
          if(response.id_token != null){
            validateToken({token : response.id_token });       
            //document.getElementById("token").value = response.id_token;
            //console.log("access_token: ", response.id_token);
            //document.getElementById("frmContinue").submit();
          }
        }
      }

      function errorCallback(error) {
        console.log(error);
      }

      function onCloseModal() {
        console.log("onCloseModal");
      } 
      
      function postForm(tokenValue){
        
        const form = document.createElement('form');
        form.method = "post";
        form.action = "/agenda";

        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = "token";
        hiddenField.value = tokenValue;
        
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();        

      }
      
      function validateToken(payload){

        var sub = "";
        
        fetch('https://cyberrange-registration.glitch.me/validateToken', {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(payload),
        })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);
          document.getElementById("mainRegisterbtn").style.visibility = "hidden";
          document.getElementById("agendaDiv").style.visibility = "visible";
          $('#exampleModalCenter').modal('hide');            
          
        })
        .catch((error) => {
          console.error('Error:', error);
        });        
        
      }
    </script>    
  </head>
  <body id="page-top" onload="loadRegisterWidget(); loadSignInWidget();">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container px-5">
        <a class="navbar-brand" href="#page-top">TD Synnex Cyber Range</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#!" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="#!" data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container px-5">
          <img class="logo" style="padding: 5px;" />
          <p>

          </p>
          <h1 class="masthead-heading mb-0">Partners</h1>
          <p>
            Join TD SYNNEX and Ping Identity on Wednesday, June 15 for a live,
            interactive Cyber Range Experience. We will demonstrate how
            Healthcare customers can improve patient experience, boost member
            engagement, achieve interoperability and manage health data at
            scale—all while meeting the industry’s extensive regulations,
            evolving compliance mandates and reducing the threat of
            cyberattacks.
          </p>
          <button
            id="mainRegisterbtn"
            type="button"
            class="btn btn-primary btn-xl rounded-pill mt-5"
            data-bs-toggle="modal"
            data-bs-target="#registerModal"
            value="{{reg_policy_id}}"
          >
            Register
          </button>
        </div>
      </div>

    
    <div id="agendaDiv" class="collaspe m-5" style="visibility: hidden;">
    <section id="bodysection" class="register">
        <br>
        <h1>
          Ping Identity Health Care Day Agenda
        </h1>
        <br>
        <table class="table table-dark p-3" id="agenda">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Topic</th>
              <th scope="col">Presenter(s)</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>10:00am - 10:15am</td>
            <td>Partner Registration</td>
            <td></td>
          </tr>
          <tr>
            <td>10:15am - 10:50am</td>
            <td>Zero Trust</td>
            <td>Aubrey Turner</td>
          </tr> 
          <tr>
            <td>11:00am - 11:50am</td>
            <td>Whiteboard for DaVinci</td>
            <td>Chris Leggett, Eric Kender</td>
          </tr>   
          <tr>
            <td>12:00pm - 1:00pm</td>
            <td>Lunch</td>
            <td></td>
          </tr>   
          <tr>
            <td>1:00pm - 2:00pm</td>
            <td>BxHealth Demo</td>
            <td>Chris Leggett, Eric Kender</td>
          </tr>  
          </tbody>
        </table>
           
    </section>      
    </div>
      </header>
    <!-- Modal -->
    <div
      class="modal fade"
      id="registerModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="registerModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerModalLongTitle">Register Here</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              
          </div>
          <div id="skWidgetRegister" class="modal-body">
         </div>
          <div class="modal-footer">
            <!--
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            -->
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div
      class="modal fade"
      id="signInModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="signInModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signInModalLongTitle">Sign In</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              
          </div>
          <div id="skWidgetSignIn" class="modal-body">
         </div>
          <div class="modal-footer">
            <!--
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            -->
          </div>
        </div>
      </div>
    </div>    
    
    <!-- Footer-->
    <footer class="py-5 bg-black">
      <div class="container px-5 text-center"><img class="pinglogo" />
        <span class="m-0 text-white small">Powered By PingOne DaVinci. &copy;
          2022</span>
      </div>
    </footer>
    <!-- Core theme JS-->
  </body>
</html>